@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100% !important;
  height: 100%;
}
body {
  @apply bg-slate-900 px-2 py-4;
}

body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  @apply border-none bg-black;
}
body::-webkit-scrollbar-thumb {
  @apply border-none bg-slate-800;
}
.no-scrollbar::-webkit-scrollbar {
  width: 0px;
}
